body {
  font-weight: 400;
  background-color: #ededee;
}

a {
  color: inherit;
}

.styles-card {
  width: 22rem;
}

.rad {
  border-radius: 10em;
}

.list-group-item {
  transition: background-color 0.3s;
}

.navbar-brand {
  margin-left: 15px;
  color: #2196f3 !important;
}

.sidebar-fixed {
  left: 0;
  top: 0;
  height: 100vh;
  width: 270px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1050;
  background-color: #fff;
  padding: 1.5rem;
}

.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar-right {
  right: 0;
  top: 0px;
  height: 100vh;
  width: 250px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1050;
  background-color: #fff;
}

.flexible-navbar {
  transition: padding-left 0.5s;
  padding-left: 270px;
  background: #fff;
}

.list-group-item:hover {
  color: #49505b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.feed {
  display: flex;
  flex-direction: column;
}

.content:nth-child(even) {
  display: flex;
  justify-content: flex-end;
}

.card-shadow {
  background: #fff;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  padding: 0.84rem 2.14rem;
  width: 50%;
}

.btn-rounded {
  padding: 6px 28px;
  margin: 0 6px;
}

.activeClass .list-group-item {
  z-index: 5;
  color: #fff;
  border-color: #007bff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #007bff !important;
}

.main-container {
  min-height: 100vh;
  position: relative;
  padding-bottom: 213px;
}

.page-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #fff;
}

.input-send {
  height: 20px;
  font-size: 17px;
  width: 300px;
  background: #eaebed;
  text-indent: 15px;
  border: none;
  padding: 18px;
  outline: none;
}

@media (max-width: 1200px) {
  .sidebar-fixed {
    display: none;
  }
  .flexible-content {
    padding-left: 0;
  }
  .flexible-navbar {
    padding-left: 10px;
  }
}
