body {
  font-weight: 400;
  background-color: #ededee;
}

a {
  color: inherit;
}

body.modal-open {
  overflow: hidden;
}

.dot-online, .dot-offline{
  height: 9px;
  width: 9px;
  display: inline-block;
  margin-right:10px;
  border-radius: 50%;
  line-height: 1.5;
}

.dot-online {
  background-color: green;
}

.dot-offline {
  background-color: red;
}


.styles-card {
  width: 22rem;
}

.rad {
  border-radius: 10em;
}

.list-group-item {
  transition: background-color 0.3s;
}

.shade {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.width {
  width: 140px;
}

.navbar-brand {
  margin-left: 15px;
  color: #2196f3 !important;
}

.sidebar-fixed {
  left: 0;
  top: 0;
  height: 100vh;
  width: 270px;
  z-index: 1050;
  background-color: #fff;
  padding: 1.5rem;
}

.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar-right {
  right: 0;
  top: 0px;
  height: 100vh;
  width: 250px;
  z-index: 1050;
  background-color: #fff;
}

.flexible-navbar {
  transition: padding-left 0.5s;
  padding-left: 270px;
  background: #fff;
}

.list-group-item:hover {
  color: #49505b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.feed {
  max-height: 82vh;
  overflow-y: scroll;
}

/* .content:nth-child(even) {
  display: flex;
  justify-content: flex-end;
} */

.content {
  display: flex;
  justify-content: flex-end;
}

.card-shadow {
  background: #fff;
  padding: 0.84rem 2.5rem;
  width: 50%;
}

.btn-rounded {
  padding: 6px 28px;
  margin: 0 6px;
  border: 0;
  background: #eaebed;
  color: #4b4f56;
}

.activeClass .list-group-item {
  z-index: 5;
  color: #fff;
  border-color: #007bff;
  background-color: #007bff !important;
}

.page-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.input-send {
  height: 20px;
  font-size: 17px;
  width: 300px;
  background: #eaebed;
  text-indent: 15px;
  border: none;
  padding: 18px;
  outline: none;
}

.preview {
  max-width: 100%;
  height: auto;
}

.hidden {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.label {
  color: #49505b;
  display: inline-block;
}

@media (max-width: 1200px) {
  .sidebar-fixed {
    display: none;
  }
  .bar-right {
    display: none;
  }
  .flexible-navbar {
    padding-left: 10px;
  }
}
